$mainTheme: #2C3E50;
$mainBackground: #f6f7f9;
$fontColor: #37474f;
$fontColorSecond: #fff;
$cardBackground: #fdfffe;
$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$hoverColor: #f9ca24;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $mainBackground;
  width: 100%;
  height: 100vh;
}