.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f7f9;
  
    h1 {
      color: #37474F;
      margin-top: 20px;
    }
    
    .homeLogo {
      width: 50%;
    }
  
  }